@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

modal {
  overflow: hidden;
  overscroll-behavior-block: contain;
}

:root {
  --swiper-pagination-bottom: 2px;
  --swiper-navigation-color: rgba(255, 255, 255, 0.6);
  --swiper-pagination-color: rgba(255, 255, 255, 0.6);
}

.hover-text-shadow:hover {
  text-shadow: 4px 4px 30px rgba(207, 188, 185, 0.9);
}

@theme {
  --color-mainBcg: #242629;
  /* ... */
  /* --breakpoint-xs: 620px; */
  /* ... */
  --background-image-home: url("/images/hero/hero2.webp");
}

@utility container {
  padding-inline: 20px;
  margin-inline: auto;

  @variant sm {
    padding-inline: 20px;
  }

  @variant md {
    padding-inline: 30px;
  }

  @variant lg {
    padding-inline: 80px;
  }

  @variant xl {
    padding-inline: 120px;
  }
}
